<configuration>
  <system.webServer>
    <modules>
        <remove name="WebDAVModule" />
    </modules>
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" roles="Administrators" />
        <add accessType="Allow" roles="Administrators2" />
        <add accessType="Allow" users="*" verbs="GET" />
      </authorization>
    </security>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="Unspecified" />
      <remove name="WebDAV" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="smg">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
        node_env="development"
        watchedFiles="Web.config"
        promoteServerVars="LOGON_USER" />
  </system.webServer>

  <appSettings>
    <add key="DB_HOST" value="localhost" />
    <add key="DB_NAME" value="nasa-smg" />
    <add key="DB_PORT" value="3306" />
    <add key="DB_USER" value="root" />
    <add key="DB_PASSWORD" value="1234" />
    <add key="RESET_TABLES" value="false" />
    <add key="DOWNLOADS_DIR" value="" />
  </appSettings>

</configuration>
