
<% include common/header.ejs %>


    <div id="prelogin">
        <div class="top-panel">
            <div class="left-part">
                <img src="/img/logo-large.png" alt="" >
                <h1>Solution Mechanism Guide</h1>
            </div>
            <!-- end .left-part -->
            <div class="right-part">
                <h2>Solution Mechanism Guide</h2>
                <p>is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </div>
            <!-- end .right-part -->
            <div class="clear"></div>
        </div>

        <div class="process-panel">
            <div class="step-bar">
                <div class="left choose">
                    <p class="level">40%</p>
                    <div class="level-icon"></div>
                    <p class="level-name clear">Choose the KML</p>
                    <p class="level-data clear">(Knowledge Maturity Level)</p>
                </div>
                <span class="arrow left"></span>
                <div class="left study">
                    <p class="level">80%</p>
                    <div class="level-icon"></div>
                    <p class="level-name">Study the SMG</p>
                    <p class="level-data">(Solution Mechanism Guide)</p>
                </div>
                <span class="arrow left"></span>
                <div class="left decision">
                    <p class="level">Completed</p>
                    <div class="level-icon"></div>
                    <p class="level-name">Make the decision</p>
                    <p class="level-data">(Achieve the goals efficiently)</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="button-box">
                <a href="/home" class="btn-orange-big">
							<span class="btn-right">
								<span class="btn-middle orange-shadow">Enter</span>
							</span>
                </a>
            </div>
        </div>
    </div>

<% include common/footer.ejs %>