
<% include common/header.ejs %>

<% locals.breadcrumb = [{text: "Home", url: "/home"}, "Identify Solution"]%>

<% include common/breadcrumb.ejs %>
<% include common/koTemplates.ejs %>


<script type="text/html" id="filter-template">



    <!-- ko if: type_id == chTypes.text || type_id == chTypes.textarea || type_id == chTypes.number -->
        <span class="nquestion" data-bind="text: name"></span>
        <span class="options-root">
            <input type="text" maxlength="200" data-bind="value: value" data-bind="css: {'js-leading-zeros': type_id == chTypes.number}" />
        </span>

    <!-- /ko -->

    <!-- ko if: type_id == chTypes.picklist -->
        <div class="nquestion " data-bind="text: name"></div>
        <div class="options-root ">
            <div class="jqtransformNew select-field required-field identify-questions">
                <select class="left"  data-bind="options: values,
                                         jqSelect: value,
                                         optionsText: 'name',
                                         optionsValue: 'valuetype_id',
                                         value: value,
                                         optionsCaption: 'Choose...'">
                </select>
            </div>

        </div>
    <!-- /ko -->

    <!-- ko if: type_id == chTypes.radio -->

        <div class="nquestion left" data-bind="text: name"></div>
        <div class="options-root left">
            <span class="wrapper-options left" data-bind="foreach: values">
                <!-- ko if: $index() % 2 == 0 -->
                 <label class="wdh left form-label">
                     <input type="radio" data-bind="value: valuetype_id, iCheck: $parent.selectedValues, attr: {name: 'group_' +$parent.characteristic_id}, attr: {name: 'group' + $parent.id}"/>
                     <span data-bind="text: name"></span>
                 </label>
                <!-- /ko -->
            </span>
            <span class="wrapper-options left"  data-bind="foreach: values">
                <!-- ko if: $index() % 2 == 1 -->
                    <label class="wdh left form-label">
                        <input type="radio" data-bind="value: valuetype_id, iCheck: $parent.selectedValues, attr: {name: 'group_' +$parent.characteristic_id}, attr: {name: 'group' + $parent.id}" />
                        <span data-bind="text: name"></span>
                    </label>
                <!-- /ko -->
            </span>
        </div>
    <!-- /ko -->
    <!-- ko if: type_id == chTypes.checkbox -->

        <div class="nquestion left" data-bind="text: name"></div>
        <div class="options-root left">
            <span class="wrapper-options left" data-bind="foreach: values">
                 <label class="wdh left form-label">
                     <input type="checkbox" data-bind="value: valuetype_id, iCheck: $parent.selectedValues, attr: {name: 'group_' +$parent.characteristic_id}"/>
                     <span data-bind="text: name"></span>
                 </label>
            </span>
        </div>
    <!-- /ko -->
    <div class="clear"></div>

</script>


<div id="body" class="js-smg-listing">
    <div class="wrapper background-wrapper">
        <div id="left-panel" class="left">
            <div id="compare" class="left">
                <div class="wrapper left solution1 hide" data-bind="css: {hide: selectedItems().length == 0}">
                    <p>
                        This page shows a list of solutions based on your selections but you may change your results to modify the solution mechanisms that are listed.
                        <br>
                        You may compare up to four solution mechanisms at one time. Please check the "Add to Compare" checkbox next to each Solution Mechanism to enable this feature.
                    </p>
                    <div class="border-bottom left"></div>
                    <div class="list-compare" data-bind="foreach: selectedItems">
                        <ul>
                            <li>
                                <div class="list left">
                                    <div class="compare-list-box left">
                                        <span class="compare-list-up"></span>
                                                <span class="compare-list-middle">
                                                    <span class="content" data-bind="text: name"></span>
                                                </span>
                                        <span class="compare-list-down"></span>
                                    </div>
                                    <a href="javascript:;" class="delete-compare" data-bind="click: compare.bind($data, false)"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="compare-solutions-button left">
                        <a href="smg_compare.html" class="orange-big-btn right"
                           data-bind="attr: { href: $root.compareUrl}">
                            <span class="orange-big-left left"></span>
                            <span class="orange-big-middle left orange-shadow">Compare Solutions Above</span>
                            <span class="orange-big-right left"></span>
                        </a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="filter-solution left solution2" data-bind="visible: !alternative()">
                <h1>Filter Solution</h1>
            </div>
            <div class="questions left" data-bind="css :{'white-questions-bg':alternative}">
                <ul class="solution2" data-bind="foreach: fields, css: { hide: alternative()}">
                    <li data-bind=" css: {'less-margin': $index() == 0, 'last': $index() + 1 == $parent.fields().length, select: type_id == chTypes.picklist }">
                        <div class="questions-wrapper">
                            <a class="left tooltip-icon" href="javascript:" data-bind="attr: { 'data-val' : help }"></a>
                            <a class="reset-icon left" href="javascript:" data-bind="click: revert"></a>

                            <div class="nquestion-root left" data-bind="template: {name: 'filter-template'}">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <div class="update-result left">
                    <ul class="solution1"  data-bind="foreach: fields, css: { hide: !alternative()}">
                        <li data-bind="css: {select: type_id == chTypes.picklist}">
                            <div class="white-questions-wrapper">
                                <a class="left tooltip-icon" href="javascript:" data-bind="attr: { 'data-val' : help }"></a>
                                <!--<a class="reset-icon left" href="javascript:" data-bind="click: revert"></a>-->

                                <div class="nquestion-root left" data-bind="template: {name: 'filter-template'}">
                                </div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                    <div class="orange-button left">
                        <a href="javascript:" class="orange-big-btn align clear update-list-result" data-bind="click: search">
                            <span class="orange-big-left left"></span>
                            <span class="orange-big-middle left orange-shadow">Update Result</span>
                            <span class="orange-big-right left"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="right-panel" class="right smg-listing">
            <div class="row1">
                <h2 class="left">Identify Solutions</h2>
                <a href="javascript:" id="print" class="orange-big-btn right">
                    <span class="orange-big-left left"></span>
							<span class="orange-big-middle left orange-shadow">
								<span class="print-icon left"></span>Print</span>
                    <span class="orange-big-right left"></span>
                </a>
                <div class="clear"></div>
            </div>
            <!--Begin BorderLine-->
            <div class="border-line left"></div>
            <!--End Border Line-->
            <!--Begin Row2-->
            <div class="row2 left">
                <p class="left">
                    Based on your selection, <br>The following Solution Mechanisms are recommended. <br>To learn more, select a Solution Mechanism.
                </p>
                <div class="grid-list right">
                    <a href="javascript:" class="grid left" data-bind="click: view.bind($data, 'grid'), css: { active: view() == 'grid' }">
                        <span class="grid-icon left"></span>
                        <span class="letter left">Grid</span>
                    </a>
                    <a href="javascript:" class="list left" data-bind="click: view.bind($data, 'list'), css: { active: view() == 'list' }">
                        <span class="list-icon left"></span>
                        <span class="letter left">List</span>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <!--End Row2-->

            <div class="row2 left">
                <div class=" smg-legend clearfix">
                    <h3>Legend</h3>
                    <div class="left legend-box">
                        <strong>Time to Execute</strong>
                        <ul>
                            <li><img src="/img/n/01-clock-icon.png"> Low</li>
                            <li><img src="/img/n/01-clock-icon.png"> Med</li>
                            <li><img src="/img/n/01-clock-icon.png"> High</li>
                        </ul>
                    </div>
                    <div class="left legend-box">
                        <strong>Cost to Execute</strong>
                        <ul>
                            <li><img src="/img/n/02-1-dolar1.png"> Low</li>
                            <li><img src="/img/n/02-2-dolar2.png"> Med</li>
                            <li><img src="/img/n/02-3-dolar3.png"> High</li>
                        </ul>
                    </div>
                    <div class="left legend-box legend-box--type">
                        <strong>Deliverable Type</strong>
                        <ul>
                            <li><img src="/img/n/03-3-gray-color-indicator.png"> Standards and Requirements</li>
                            <li><img src="/img/n/03-4-green-color-indicator.png"> Countermeasures and Controls</li>
                            <li><img src="/img/n/03-2-yellow-color-indicator.png"> Technology</li>
                            <li><img src="/img/n/03-1-blue-color-indicator.png"> Knowledge</li>
                            <li><img src="/img/n/03-5-brown-color-indicator.png"> Multiple</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="list-grid-view-wrapper ajax-pre-loader-wrapper ajax-pre-loader-new init-load">

                <!-- ko if: view() == 'list' -->
                <div id="list-view" class="row3 left " data-bind="css :{'ajax-content' : loading()}">
                    <div class="row3-wrapper" data-bind="if: items().length">
                        <ul data-bind="foreach: items">

                            <li  data-bind="css: {'last': $index() + 1 == $parent.items().length}">
                                <div class="square left">
                                    <img data-bind="attr: {src: picture+ '?width=76&height=76'}" width="76" height="76" />
                                </div>
                                <div class="content left">
                                    <label class="form-label"><input type="checkbox" data-bind="iCheck: compare" value="1"> <span>Add to compare</span></label>
                                    <br>
                                    <a class="title" data-bind="text: name, attr:{href: '/smg/' + id}"></a>
                                    <p data-bind="truncate: desc, truncateOptions: {height: 50, extractText: true}"></p>
                                </div>
                                <div class="status right">
                                    <span class="wdh left">
                                        <span class="l left" data-bind="clockText: org"></span>
                                        <span class="months left"></span>
                                    </span>
                                    <span class="wdh left">
                                        <span class="dolar left" data-bind="dollarSign: org"></span>
                                        <span class="left level">
                                            <span class="k"></span>
                                        </span>
                                        <span class="color-round left" data-bind="radial: org"></span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: view() == 'grid' -->
                <div id="grid-view" class="row3 left "  data-bind="css :{'ajax-content' : loading()}, foreach: items">
                    <div class="white-box" data-bind="css: {left: $index() % 2 == 0, right: $index() % 2 == 1}, alignBox: 1">
                        <div class="box-wrapper left">
                            <a class="title" data-bind="text: name, attr:{href: '/smg/' + id}"></a>
                            <div class="square left">
                                <img data-bind="attr: {src: picture + '?width=76&height=76'}" width="76" height="76" />
                            </div>
                            <div class="content left">
                                <label class="form-label"><input type="checkbox" data-bind="iCheck: compare" value="1"> <span>Add to compare</span></label>
                                <br>
                                <p class="left" data-bind="truncate: desc, truncateOptions: {height: 80, extractText: true}"></p>
                            </div>
                            <div class="border-bottom left"></div>
                            <div class="status left">
                                <span class="l left" data-bind="clockText: org"></span>
                                <span class="months left"></span>
                                <span class="dolar left" data-bind="dollarSign: org"></span>
                                <span class="k left"></span>
                                <span class="color-round right" data-bind="radial: org"></span>
                            </div>
                        </div>
                    </div>
                    <!-- ko if: $parent.items().length == 2 && $index() == 1-->
                    <div class="white-box left hidden"></div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <div class="clear"></div>
                <div class="preloader preloader2" data-bind="loader : loading"></div>
            </div>
            <!--End Gridview-->
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!--End Examples-->


<div class="confirmpopup modal-window-wrapper hide popup-element" id="cannot-add-compare">
    <div class="popup-wrapper">
        <div class="popup-header">
            <h4 class="left"></h4>
            <a href="javascript:" class="right tooltip-close close-popup"></a>
        </div>
        <div class="popup-form">
            <span>Up to four Solution Mechanisms may be selected for the Compare feature. Please remove one of the selected Solution Mechanisms in order at add a different one.</span>
        </div>
        <div class="form-buttons">
            <a href="javascript:" class="btn-orange-big close-popup">
                <span class="btn-right"><span class="btn-middle">Close</span></span>
            </a>
        </div>
    </div>
</div>


<div id="agreement-popup" class="modal-window-wrapper hide" data-bind="if:popupSmg">
    <div class="modal-head">
        <h1 class="left">Solution Mechanism</h1>
        <div class="social-media right">
            <a href="javascript:" class="g left"></a>
            <a href="javascript:" class="t left"></a>
            <a href="javascript:" class="f left"></a>
        </div>
        <span class="modal-close modal-close-btn right"></span>
    </div>
    <div class="ajax-pre-loader-wrapper popup-open-init" data-bind="with: popupSmgModel">
        <div class="modal-subhead clearfix">
            <h1 data-bind="text: name"></h1>
            <div class="duration-details">
                <div class="left ball-details">
							<span class="duration left">
								<span class="dur-icon left"  data-bind="clockText: $root.popupSmg().org"></span>
								<span class="dur-content left">
								</span>
							</span>
							<span class="level left">
								<span class="lvl-icon left"  data-bind="dollarSign: $root.popupSmg().org"></span>
								<span class="lvl-content left">
								</span>
							</span>
                    <span class="lvl-ball left"  data-bind="radial: $root.popupSmg().org"></span>
                </div>
                <div class="right">
                    <a class="details orange-big-btn align left" data-bind="attr : {href: '/smg/' + id}">
                        <span class="orange-big-left left"></span>
								<span class="orange-big-middle left orange-shadow">
									<span class="details-icon left"></span>Details</span>
                        <span class="orange-big-right left"></span>
                    </a>
                    <a href="javascript:;" class="compare orange-big-btn align left" data-bind="click: $root.comparePopup">
                        <span class="orange-big-left left"></span>
								<span class="orange-big-middle left orange-shadow">
									<span class="compare-icon left"></span>Compare</span>
                        <span class="orange-big-right left"></span>
                    </a>
                </div>
            </div>
        </div>
        <div id="table-scroll" class="has-bottom-border">
            <div class="tables clear">
                <p>
                    <span>Defined:</span>One or more partners in a mutually beneficial activity that furthers NASA’s mission; collaborative agreement in which both parties bear the cost of its participation and no funds are exchanged.
                </p>
                <div class="table-cover less first-less">
                    <div class="table-head clearfix">
                        <span class="tab-left left"></span>
								<span class="tab-middle left">
									<a href="javascript:" class="tb-collapse left"></a>Learn More Information</span>
                        <span class="tab-right left"></span>
                    </div>
                    <table class="table1 clear">
                        <colgroup>
                            <col width="20%" >
                            <col >
                        </colgroup>
                        <tbody data-bind="foreach: tab1Items">
                        <tr>
                            <td class="first" data-bind="text: characteristic.name"></td>

                            <!-- ko if: characteristic.type_id == chTypes.textarea -->
                            <td data-bind="html: displayValue" class="default-css"> </td>
                            <!-- /ko -->
                            <!-- ko if: characteristic.type_id != chTypes.textarea -->
                            <td data-bind="text: displayValue"> </td>
                            <!-- /ko -->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--table 2 -->
                <div class="table-cover less">
                    <div class="table-head clearfix">
                        <span class="tab-left left"></span>
								<span class="tab-middle left">
									<a href="javascript:" class="tb-collapse left"></a>Examples within HH&amp;P</span>
                        <span class="tab-right left"></span>
                    </div>
                    <table class="table2 clear">
                        <thead>
                        <tr>
                            <th>Content</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: examples">
                        <tr>
                            <td data-bind="html: $data" class="align-left"></td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <!-- table3 -->
                <div class="table-cover less">
                    <div class="table-head clearfix">
                        <span class="tab-left left"></span>
								<span class="tab-middle left">
									<a href="javascript:" class="tb-collapse left"></a>How to Start</span>
                        <span class="tab-right left"></span>
                    </div>
                    <div class="tb-note clear">
                        <span>Your first step will be to contact the POC listed; other pertinent information is provided below</span>
                    </div>
                    <table class="table3 clear">
                        <tbody data-bind="foreach: tab3Items">
                        <tr>
                            <td class="first" data-bind="text: characteristic.name"></td>

                            <!-- ko if: characteristic.type_id == chTypes.textarea -->
                            <td data-bind="html: displayValue" class="default-css"> </td>
                            <!-- /ko -->
                            <!-- ko if: characteristic.type_id != chTypes.textarea -->
                            <td data-bind="text: displayValue"> </td>
                            <!-- /ko -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-close-btn">
        <a href="javascript:" class="details orange-big-btn align left">
            <span class="orange-big-left left"></span>
            <span class="orange-big-middle left orange-shadow">Close</span>
            <span class="orange-big-right left"></span>
        </a>
        <div class="clear"></div>
    </div>
</div>

<div class="tool-tip" id="tooltip">
    <span class="tooltip-left left"></span>
    <div class="tooltip-middle left">
        <div class="tooltip-head">
            <div class="tooltip-head-content left">
                <h2 class="left">Help</h2>
                <a href="javascript:" class="right tooltip-close"></a>
            </div>
            <div class="clear"></div>
            <p></p>
        </div>
    </div>
</div>


<% include common/footer.ejs %>