
        <div id="footer-container">
            <div id="footer">
                <div class="wrapper">
                    <span class="right text"><span class="icon left"></span>copy 2014, Copy Right Reserved</span>
                </div>
            </div>
        </div>

        <!--end of <div id="container">-->
        </div>
        <div class="block-ui"></div>

        <div id="modal-window-bg" class="hide"></div>
        <div id="alert-popup" class="confirmpopup modal-window-wrapper modal-window-wrapper-fixed hide">
            <div class="popup-wrapper">
                <div class="popup-header">
                    <h4 class="left">Confirmation Messages</h4>
                    <a href="javascript:" class="right tooltip-close"></a>
                </div>
                <div class="popup-form">
                    <span></span>
                </div>
                <div class="form-buttons">
                    <a href="javascript:" class="btn-orange-big ok">
                        <span class="btn-right"><span class="btn-middle">OK, Close</span></span>
                    </a>
                </div>
            </div>
        </div>
        <div id="confirm-popup" class="confirmpopup modal-window-wrapper modal-window-wrapper-fixed hide">
            <div class="popup-wrapper">
                <div class="popup-header">
                    <h4 class="left">Confirmation Messages</h4>
                    <a href="javascript:" class="right tooltip-close"></a>
                </div>
                <div class="popup-form">
                    <span></span>
                </div>
                <div class="form-buttons">
                    <a href="javascript:" class="btn-orange-big yes-btn">
                        <span class="btn-right"><span class="btn-middle">Yes</span></span>
                    </a>
                    <a href="javascript:" class="btn-orange-big no-btn">
                        <span class="btn-right"><span class="btn-middle">No</span></span>
                    </a>
                </div>
            </div>
        </div>
        </body>
</html>