<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<% include head.ejs %>

<body class="page-<%= locals.name %>">

<div id="container">
    <div id="header" class="<%= locals.admin ? 'admin-header' : '' %>">

        <% if (locals.admin) {%>
            <div class="head-content">
                <a class="left" href="/home">
                    <img src="/img/logo.png" alt="Logo">
                </a>
                <div class="navigation right">
                    <div class="welcome right">
                        <span class="welcome-left left"></span>
                                <span class="welcome-center left">
                                    <span class="name">Welcome <%= username%>,</span><a href="javascript:" class="logout">Logout</a>
                                </span>
                        <span class="welcome-right left"></span>
                    </div>
                    <% include menuAdmin.ejs %>
                </div>
            </div>


        <%} else {%>

            <div class="head-content head-content-top">
                <a class="left" href="/home">
                    <img src="img/logo.png" alt="Logo">
                </a>
                <div class="welcome right">
                    <span class="welcome-left left"></span>
                        <span class="welcome-center left">
                            <span class="name">Welcome <%= username %>,</span><a href="javascript:" class="logout">Logout</a>
                        </span>
                    <span class="welcome-right left"></span>
                </div>
            </div>
            <div class="border-line">&nbsp;</div>

            <div class="head-content head-content-bottom">
                <div class="navigation left">
                    <% include menu.ejs %>
                </div>
            </div>

            <div class="border-line">&nbsp;</div>
        <% }%>
    </div>